body, .wrapper, .wrapper .background{
	height: 100vh;
	font-family: 'Palanquin';
}

.wrapper .background {
	background: #F76C6C;
}

.wrapper .background .container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.wrapper .background .me-pic {
	float: none;
	border-radius: 50%;
	animation: zoomIn 1s;
}

.wrapper .background .inner-box {
	float: none;
	text-align: center;
	background: #243053;
	padding: 50px;
	border-radius: 25px;
	color: white;
	animation: zoomIn 1s;
}

.wrapper .background .inner-box .name {
	margin: 0;
	padding: 25px;
	font-size: 40px;
	animation: fadeIn 2s;
}

.wrapper .background .inner-box .keywords {
	padding: 0 20px 20px;
	font-size: 24px;
	animation: fadeIn 3s;
}

.wrapper .background .inner-box .icons {
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	animation: fadeIn 4s;
}

@media only screen and (min-device-width: 600px) {
	.wrapper .background .inner-box .icons {
		flex-direction: row;
	}
}

.wrapper .background .inner-box .icons a {
	text-decoration: none;
}

.wrapper .background .inner-box .icons .icon-square {
	padding: 10px;
	background: #6DB0D5;
	border-radius: 5px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
	.wrapper .background .inner-box .icons .icon-square {
		margin-bottom: 10px;
	}
}

@media only screen and (min-device-width: 900px) and (max-device-width: 1200px) {
	.wrapper .background .inner-box .icons .icon-square {
		padding: 5px;
	}
}

.wrapper .background .inner-box .icons .icon-square:hover {
	background: #94C5E0;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 950px) {
	.wrapper .background .inner-box .icons .icon {
		font-size: 24px;
	}
}

.wrapper .background .inner-box .icons .icon-square .icon i, span {
	color: white;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
