body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  overflow-y: scroll;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
  float: right;
  position: absolute;
}

header p {
  padding: 0 20px;
  margin: 0;
}

header nav a{
  color: #000000;
}

.jumbotron {
  margin: 30px;
  margin-top: 0px;
  display: flex;
  align-items: center;
  background-image: url('https://images.unsplash.com/38/awhCbhLqRceCdjcPQUnn_IMG_0249.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron2 {
  margin: 30px;
  margin-top: 0px;
  display: flex;
  align-items: center;
  background-image: url('https://pbs.twimg.com/media/Cyk14HGW8AAxfCI.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron2 h3 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #000000;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #000000;
}

.btn.btn-primary2 {
  border-radius: 2px;
  border: 0px;
  color: #000000;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary2:hover {
  color: #ffffff;
  background-color: #000000;
}

.btn.btn-primary3 {
  border-radius: 2px;
  border: 0px;
  color: #000000;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary3:hover {
  color: #ffffff;
  background-color: #000000;
}

.btn.btn-primary4 {
  border-radius: 2px;
  border: 0px;
  color: #000000;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary4:hover {
  color: #ffffff;
  background-color: #000000;
}

.contact-btn {
  float: right;
}

.contact-btn a {
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #000000;
}

.contact-btn a:active {
  position: relative;
  bottom: 2px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
  position: absolute;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}
