.top-bar-section a img{
  width: 200px;
  height: 60px;
}

.top-bar a img:hover{
  opacity: 0.75;
}

.top-bar-section .top-bar-section-linkedin-image{
  float: right;
  width: 200px;
  height: 50px;
}

.hello-section, .job-experience-section{
  font-size: 32px;
}

.hello-section .container{
  padding: 3% 15%;
}

.hello-section .hello-section-text-name.buildup, .hello-section-name, .hello-section-keyword{
  font-weight: bold;
}

.hello-section .hello-section-name{
  color: #338AFF;
}

.hello-section .hello-section-keyword{
  color: #f00;
}

.job-experience-section .container{
  padding: 3% 15%;
}

@media only screen and (max-device-width: 770px) {
  .job-experience-section .container{
    text-align: center;
  }
}

.job-experience-section .job-section-title{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.job-experience-section .job{
  margin-bottom: 20px;
}

.job-experience-section .job  img{
  width: 200px;
  height: 200px;
}

.job-experience-section .job  img:hover{
  opacity: 0.6;
  cursor: pointer;
}

.job-experience-section .job-modal{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  padding: 20px;
  padding-left: 20px!important;
}

.job-experience-section .job-modal .modal-close-icon{
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.job-experience-section .job-modal .modal-job-image{
  width: 200px;
  display: flex;
  margin: auto;
}

.job-experience-section .job-modal .modal-job-information{
  font-size: 16px;
}

.about-section .container{
  padding: 3% 15%;
}

.about-section .about-section-title{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.about-section .about-section-image{
  width: 100%;
}

.about-section .about-section-content{
  font-size: 16px;
}

.about-section .about-section-content .about-section-intro{
  margin-bottom: 10px;
}

.about-section .about-section-coding-info-part{
  display: block;
}

.about-section .about-section-coding-title{
  font-weight: bold;
}

.about-section .about-section-coding-info-header{
  color: #f00;
}

.contact-section .container{
  padding: 3% 15%;
}

.contact-section .contact-section-title{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.contact-section .contact-section-links .contact-section-link{
  font-size: 16px;
}
